.mini-showreel__media {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}



[data-mini-showreel-status="active"] .mini-showreel__click {
  display: none;
}

[data-mini-showreel-status] .mini-showreel__info {
  transition: margin 1s cubic-bezier(0.87, 0, 0.13, 1);
}

[data-mini-showreel-status="active"] .mini-showreel__info {
  margin-top: -2.75em;
}

[data-mini-showreel-status] .mini-showreel__card {
  transition: margin 1s cubic-bezier(0.87, 0, 0.13, 1);
}

[data-mini-showreel-status="active"] .mini-showreel__card {
  margin-top: 1.375em;
  margin-bottom: 1.375em;
}

[data-mini-showreel-status] .mini__frames,
[data-mini-showreel-status] .mini__tags,
[data-mini-showreel-status] .mini-showreel__play {
  transition: opacity 0.3s cubic-bezier(0.87, 0, 0.13, 1), transform 0.3s cubic-bezier(0.87, 0, 0.13, 1), visibility 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

[data-mini-showreel-status="active"] .mini__frames,
[data-mini-showreel-status="active"] .mini__tags,
[data-mini-showreel-status="active"] .mini-showreel__play {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  pointer-events: none;
}

[data-mini-showreel-status] .mini-showreel-lightbox__dark {
  transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
}

[data-mini-showreel-status="active"] .mini-showreel-lightbox__dark {
  opacity: 1;
  visibility: visible;
}

[data-mini-showreel-status="not-active"] [data-bunny-player-init][data-player-status] .bunny-player__placeholder {
  opacity: 1;
  visibility: visible;
}

[data-mini-showreel-status="not-active"] [data-bunny-player-init][data-player-status] .bunny-player__dark {
  opacity: 0;
}

[data-mini-showreel-status="not-active"] [data-bunny-player-init] .bunny-player__playpause {
  opacity: 0;
}

[data-mini-showreel-status="not-active"] [data-bunny-player-init] .bunny-player__interface {
  opacity: 0;
  transform: translateY(1em) rotate(0.001deg);
}